%flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  @extend %flex-layout;
  padding: $base-padding $base-padding * 2;
  padding-left: 0px;
  padding-right: 0px;
  //   box-shadow: lighten($base-box-shadow);
  justify-content: center;
  .site-title {
    font-size: $lg;
  }
  .container {
    @extend %flex-layout;
  }
}

@each $key, $val in $colors {
  .navbar-#{$key} {
    @extend .navbar;
    background-color: $val;
  }
}

// Project specific styles

.navbar {
  justify-content: center;
  align-items: center;
  a {
    font-size: $sm;
  }
}

.center {
  justify-content: center;
  align-items: center;
  width: 100%;
}
