.index {
  // width: 5%;
  padding: $base-padding;
  text-align: left;
  border-bottom: $base-border;
}
.Repos {
  // width: 45%;
  text-align: left;
  padding: calc($base-padding * 1.2);
  border-bottom: $base-border;
}
.stars {
  // width: 16.6%;
  padding: $base-padding;
  border-bottom: $base-border;
}
.forks {
  // width: 16.6%;
  padding: $base-padding;
  border-bottom: $base-border;
}
.openIssues {
  // width: 16.6%;
  text-align: right;
  padding: $base-padding;
  border-bottom: $base-border;
}

.repo-card {
  display: flex;
  column-gap: 8px;
  align-items: center;
  color: $dark;
  img {
    border-radius: $base-border-radius;
  }
  h5 {
    font-size: 16px;
    letter-spacing: 2%;
  }
}

.thead {
  color: $dark;
}

.tbody {
  width: 100%;
  color: $dark;
  p {
    padding: $base-padding;
  }
}

.body-index {
  opacity: 0.7;
}

.body-issues {
  text-align: right;
}
